@keyframes animate {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}

@keyframes scroll-marquee-1 {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll-marquee-2 {
  to {
    transform: translateX(calc(-100% + 20px));
  }
}

@keyframes neon-glow-svg {
  0% {
    fill: #ff00ff; /* Neon pink */
  }
  50% {
    fill: #00ffff; /* Neon cyan */
  }
  100% {
    fill: #ff00ff; /* Neon pink */
  }
}

@keyframes glow-svg-1 {
  from {
    fill: #19e96a;
  }
  to {
    fill: #3c3c3c;
  }
}

@keyframes glow-svg-3 {
  from {
    fill: #e9d86c;
  }
  to {
    fill: #3c3c3c;
  }
}

@keyframes glow-svg-2 {
  from {
    fill: #2c55e9;
  }
  to {
    fill: #3c3c3c;
  }
}

.strong-text-child-animate {
  b {
    background: linear-gradient(
      to right,
      #fff 20%,
      #ff0 40%,
      #ff0 60%,
      #fff 80%
    );
    background-size: 200% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  b:nth-child(1) {
    animation: shine 2s linear infinite;
  }
  b:nth-child(2) {
    animation: shine 3s linear infinite;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
