@keyframes animate {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}

@keyframes scroll-marquee-1 {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll-marquee-2 {
  to {
    transform: translateX(calc(-100% + 20px));
  }
}


